:host {
    display: flex;
    justify-content: center;

    .card {
        position: absolute;
        width: 74%;
        z-index: 1000;
        background-color: white;
        border-radius: 10px;
        height: 9vh;
        display: flex;
        align-items: center;
        transform: translateY(-5vh);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        padding: 0vh 4vh;
        gap: 3vh;
        overflow-x: scroll;

        &__item{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--secondary-color);
            padding: 0.2vh 0 0.2vh 1vh;
            gap: 2vh;
            height: 3.5vh;
            border-radius: 5px;

            p{
                margin: 0;
                font-family: var(--primary-font-family);
                color: var(--primary-color);
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
            }

            button{
                padding: 1vh 1.5vh;
                background-color: var(--primary-color);
                color: white;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                transition: all 0.1s;
            }

            button:hover{
                background-color: var(--very-dark-color);
            }
        }
    }

}