<div class="content">
    <div class="content__box-cards">
        <div class="content__box-cards__card">

            <div class="content__box-cards__card__image">
                <img src="../../../assets/images/photosnap.svg">
            </div>

            <div class="content__box-cards__card__info-user">
                <div class="content__box-cards__card__info-user__first-items">
                    <p>Photosnap</p>
                    <div class="item">NEW!</div>
                </div>
                <h1 class="content__box-cards__card__info-user__title">
                    Senior Front End Developer
                </h1>
                <div class="content__box-cards__card__info-user__last-items">
                    <p>1d ago</p>
                    <div class="circle"></div>
                </div>
            </div>

            <div class="content__box-cards__card__buttons">
                <button>Frontend</button>
                <button>Frontend</button>
                <button>Frontend</button>
                <button>Frontend</button>
            </div>
        </div>
    </div>
</div>
