html, body { height: 100%; }

body {
    margin: 0 !important;
}

.flex{
    display: flex;
}

.justify-end{
    justify-content: flex-end;
}

:root{
    --primary-color: hsl(0, 0%, 17%);
    --secondary-color: hsl(0, 0%, 59%);
    --primary-font-family: 'League Spartan', sans-serif;
}